name: Build and Test
on: [push, pull_request]
jobs:
  build:
    name: Go CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [1.16, 1.17]
    env:
      GO111MODULE: "on"
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: Check out dcrros source
        uses: actions/checkout@v2
        with:
          path: dcrros

      - name: Install Linters
        run: "curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.42.0"

      - name: Build
        working-directory: dcrros
        run: go build ./...

      - name: Checkout dcrd # Needed for rpctests
        uses: actions/checkout@v2
        with:
          repository: decred/dcrd
          ref: release-v1.7.0
          path: dcrd

      - name: Install dcrd
        working-directory: dcrd
        run:
          go install .

      - name: Test
        working-directory: dcrros
        run: |
          sh ./run_tests.sh
